.nav-inverse {
    background-color: rgb(11,40,112);
}
.navbar {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
}
.nav-link:hover {
  background-color: #1b0752;
  color: rgb(255, 136, 0);
}
#logosizing {
    height: 33px;
}

#logosizing-4 {
    height: 150px;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    width: 180px
}
#sidebar-collapse {
    margin-left: -5px;
    margin-top: 10px;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
#course-name {
    margin-top: 10px;
}
.overview-video {
    margin-top: 30px;
    width: 1000px;
    height: 500px;
}
/* 
remember you gotta start server with:
https://developers.google.com/classroom/quickstart/js?authuser=1 */